<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All my tests">
<test name="Connection tests">
<packages>
<package name="connectiontest"></package>
</packages>
</test>

<test name="Http-client tests">
<packages>
<package name="requesttest"></package>
</packages>
</test>

</suite>
